@font-face {
    font-family: myFirstFont;
  src:url(../fonts/DINOT-Light.otf);
}
@font-face {
    font-family:qstencli;
  src:url(../fonts/Comfortaa_Bold.otf);
}

@font-face {
    font-family:dinot-cond;
  src:url(../fonts/DINOT-Cond.otf);
}

body{
  background: #404040;
}
.header{
  margin-top: 30px;
}
.header img{
  margin: 0 auto;
  width: 230px;
  vertical-align: middle;
  padding: 20px 10px 0px 10px;
}
.header h2{
  color: #fff;
  font-family: "Comfortaa",cursive;
  font-size: 50px;
  margin-top: 9px;
  text-align: center;
}
.header p{
  color: #FFF;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #FFF;
}
label{
  color: #FFF;
  font-family: "dinot-cond";
  font-size: 26px;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 28px;
}
footer{
  min-height: 50px;
}
.form-control{
  border-radius: 0;
}
.btn-danger {
    color: #fff;
    background-color: rgba(217, 83, 79, 0);
    border-color: rgb(255, 255, 255);
    font-size: 24px;
    border-radius: 0;
    font-family: "dinot-cond";
}
.btn-danger.active, .btn-danger:focus, .btn-danger:hover, .btn-danger:active, .open > .dropdown-toggle.btn-danger{
    color: #fff;
    background-color: rgba(201, 48, 44, 0);
    border-color: #fefefe;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
}
.bg_page {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0% 0%;
    padding: 10px 20px;
    border-radius: 5px;
}
.steps{
  text-align: center;
}
.step{
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-block;
  background: #666;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'myFirstFont';
}
.active{
    background: rgba(255, 255, 255, 0.78) none repeat scroll 0% 0%;
    color: rgb(0, 0, 0);
}
#page2, #page3{
  display:none;
}
.parent-heading{
  color: rgb(255, 255, 255);
  font-family: "dinot-cond";
  font-size: 26px;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 0px;
  line-height: 28px;
  margin: 0;
}
.parent{
  margin-bottom: 10px;
  float: left;
}
.parent .col-md-6:nth-child(2){
  padding-left: 0;
}
.parent .col-md-6:nth-child(3){
  padding-right: 0;
}
.nxt_button{
    text-align: center;
    clear: both;
    float: none;
}
.clear{
  clear: both;
}
.header p.mantadory{
  font-size: 10px;
  color: red;
  text-align: left;
  border-bottom: none;
}
#rotate-image{
  display: none;
}
#pDownhill-rotate, #pSideL-rotate, #pSideR-rotate{
    width: 200px;
    margin-top: 20px;
    display: none;
    border-radius: 50%;
}
#pUphill-rotate{
    width: 200px;
    margin-top: 20px;
    border-radius: 50%;
}
